<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>counter score</title>
  </head>
  <body>
    <div class='container'>
      <h1>We counted {{ score }} repeats in your sentence "{{ input }}"</h1>
      <h3><a href='/'>Play again!</a></h3>
    </div>
  </body>
</html>
